ants==0.0.7
ConfigArgParse==1.7
DISTS_pytorch==0.1
DISTS_pytorch==0.1
h5py==3.11.0
huggingface_hub==0.29.1
matplotlib==3.8.4
nibabel==5.3.2
numpy==2.2.5
openai==1.78.1
opencv_python_headless==4.11.0.86
peft==0.14.0
Pillow==11.2.1
ptwt==0.1.9
pytorch_lightning==2.4.0
PyYAML==6.0
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.5.3
scipy==1.15.3
skimage==0.0
submitit==1.5.2
torch==2.6.0
torchkbnufft==1.4.0
torchmetrics==1.4.1
torchvision==0.21.0
tqdm==4.67.1
