h5py==3.12.1
numpy==1.26.4
matplotlib==3.9.2
scipy==1.14.1
sigpy==0.1.26
torchkbnufft==1.4.0
ptwt==0.1.9
tensorboard==2.18.0
scikit-learn==1.5.2
huggingface_hub==0.26.1
safetensors==0.4.5
mpmath==1.3.0